#outer{
    height: 100px;
    width: 35px;
    background-color: black;
}

.a{
     border-radius: 50%;
     height: 30%;
     width: 100%;
     background-color: aqua;
    padding-top: 5%;
}
#id1{
    background-color: red;
}

#id2{
    background-color: yellow;
}

#id3{
    background-color: greenyellow;
}